@import "tailwindcss";

@theme {
	--color-primary: rgb(169, 108, 254);
	--color-secondary: rgb(218, 230, 142);
	--color-accent: rgb(177, 222, 104);

	--color-primary-dark: rgb(62, 1, 147);
	--color-secondary-dark: rgb(101, 113, 25);
	--color-accent-dark: rgb(106, 151, 33);

	--font-lexend: "Lexend", sans-serif;
	--font-faculty-glyphic: "Faculty Glyphic", sans-serif;
	--font-montserrat: "Montserrat", sans-serif;
	--font-playfair: "Playfair Display", serif;
}

html,
body {
	font-family: var(--font-montserrat);
	margin: 0;
	width: 100%;
	height: 100%;
}
