---
import { sanityClient } from "sanity:client";
import Layout from "../../layouts/Layout.astro";
import type { Product, Category } from "../../../sanity.types";
import ProductItem from "../../components/ProductItem";
import CatalogLayout from "../../layouts/CatalogLayout.astro";

export async function getStaticPaths() {
	const categories = await sanityClient.fetch<Category[]>(
		`*[_type == "category"] | order(title asc) {
            _id,
            slug
        }`
	);

	return categories.map((category) => ({
		params: { slug: category.slug.current },
	}));
}

const { slug } = Astro.params;

const products = await sanityClient.fetch<Product[]>(
	`*[_type == "product" && references(*[_type == "category" && slug.current == $slug]._id)] | order(_createdAt desc) {
        _id,
        title,
        slug,
        price,
		discount,
        images
    }`,
	{ slug }
);
---

<Layout pageTitle="Melanin Accessories - Catalog">
	<CatalogLayout currentSlug={slug}>
		<Fragment slot="desktop-content">
			{
				products.length > 0 ? (
					<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:gap-4">
						{products.map((product) => (
							<ProductItem
								product={product}
								client:only="react"
							/>
						))}
					</ul>
				) : (
					<p class="text-gray-600 text-center">
						No products available in this category.
					</p>
				)
			}
		</Fragment>

		<Fragment slot="mobile-content">
			{
				products.length > 0 ? (
					<ul class="grid grid-cols-1 xs:grid-cols-2 gap-4">
						{products.map((product) => (
							<ProductItem
								product={product}
								client:only="react"
							/>
						))}
					</ul>
				) : (
					<p class="text-gray-600">
						No products available in this category.
					</p>
				)
			}
		</Fragment>
	</CatalogLayout>
</Layout>
