---
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";
import type { Product } from "../../sanity.types";
import ProductItem from "../components/ProductItem";
import CatalogLayout from "../layouts/CatalogLayout.astro";

const allProducts = await sanityClient.fetch<Product[]>(
	`*[_type == "product"] | order(_createdAt desc) {
        _id,
        title,
        slug,
        price,
        images
    }`
);
---

<Layout pageTitle="Melanin Accessories - Catalog">
	<CatalogLayout>
		<Fragment slot="desktop-content">
			{
				allProducts.length > 0 ? (
					<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:gap-4">
						{allProducts.map((product) => (
							<ProductItem
								product={product}
								client:only="react"
							/>
						))}
					</ul>
				) : (
					<p class="text-gray-600">No products available.</p>
				)
			}
		</Fragment>

		<Fragment slot="mobile-content">
			{
				allProducts.length > 0 ? (
					<ul class="grid grid-cols-1 xs:grid-cols-2 gap-4">
						{allProducts.map((product) => (
							<ProductItem
								product={product}
								client:only="react"
							/>
						))}
					</ul>
				) : (
					<p class="text-gray-600">No products available.</p>
				)
			}
		</Fragment>
	</CatalogLayout>
</Layout>
