---
import Layout from "../layouts/Layout.astro";
import ChevronRight from "../assets/icons/chevron-right.svg";
import CategoriesCarousel from "../components/carousel/CategoriesCarousel";
import { sanityClient } from "sanity:client";
import type { Product } from "../../sanity.types.ts";
import ProductItem from "../components/ProductItem.astro";
import WhatsAppImage from "../assets/glyphs/whatsapp.svg";
import { Image } from "astro:assets";

const latestProducts = await sanityClient.fetch<Product[]>(
	`*[_type == "product"] | order(_createdAt desc) [0...8] {
		_id,
		title,
		slug,
		price,
		images
	}`
);
const highInterestProducts = await sanityClient.fetch<Product[]>(
	`*[_type == "product"] | order(interestCount desc) [0...8] {
		_id,
		title,
		slug,
		price,
		images
	}`
);
---

<Layout pageTitle="Melanin Accessories - Home">
	<div class="hero h-screen">
		<main
			class="grow p-4 sm:p-8 py-12 sm:py-16 md:px-32 md:py-44 flex flex-col gap-6 sm:gap-8">
			<h1
				class="tracking-widest text-3xl sm:text-4xl md:text-5xl xl:text-6xl font-medium font-playfair">
				Fashion meets Self-Expression
			</h1>
			<p
				class="text-lg sm:text-xl xl:2xl font-montserrat font-light max-w-2xl text-gray-700">
				A place to elevate your style with our accessories. From
				statement pieces to timeless essentials, every item is crafted
				with love and attention to detail
			</p>
			<a
				href="/catalog"
				id="browse-catalog"
				class="flex gap-2 justify-center w-full sm:w-auto md:self-start mt-4 sm:mt-6 p-4 sm:p-6 border-2 border-primary shadow-sm rounded-sm font-montserrat font-medium hover:bg-primary hover:text-white">
				<span>Browse our catalog</span>
				<ChevronRight id="chevron-right" />
			</a>
		</main>
	</div>

	<section
		aria-labelledby="latest"
		class="bg-white p-4 sm:p-8 md:p-16 lg:px-32 font-lexend">
		<div class="flex items-center">
			<h2 id="latest" class="text-2xl font-medium">Latest</h2>
		</div>
		{
			latestProducts.length > 0 ? (
				<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:gap-4 mt-4">
					{latestProducts.map((product) => (
						<ProductItem product={product} />
					))}
				</ul>
			) : (
				<p class="text-gray-500">No latest products available.</p>
			)
		}
	</section>
	<CategoriesCarousel client:load />
	<section
		aria-labelledby="latest"
		class="bg-white p-4 sm:p-8 md:p-16 lg:px-32 font-lexend">
		<div class="flex items-center">
			<h2 id="latest" class="text-2xl font-medium">High Interests</h2>
		</div>
		{
			highInterestProducts.length > 0 ? (
				<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:gap-4 mt-4">
					{highInterestProducts.map((product) => (
						<ProductItem product={product} />
					))}
				</ul>
			) : (
				<p class="text-gray-500">
					No high interest products available.
				</p>
			)
		}
	</section>
	<section
		aria-labelledby="whatsapp-group"
		class="p-8 md:p-16 lg:px-32 lg:py-28 font-lexend bg-[#25D366] text-white text-center relative overflow-hidden">
		<Image
			src={WhatsAppImage}
			alt="WhatsApp Icon"
			class="w-96 absolute right-0 top-1/2 -translate-y-1/2 opacity-10"
		/>
		<div>
			<h2 id="whatsapp-group" class="text-4xl font-medium">
				Join Our WhatsApp Group
			</h2>
			<p class="mt-2">
				Stay updated with the latest news, offers, and community
				discussions.
			</p>
			<a
				href="https://chat.whatsapp.com/IMBxX8TVah86rgGIgF1TML"
				target="_blank"
				rel="noopener noreferrer"
				class="mt-4 inline-block bg-white text-[#25D366] px-6 py-3 rounded-full font-semibold hover:bg-gray-200 transition-colors">
				Join Now
			</a>
		</div>
	</section>
</Layout>

<style>
	#browse-catalog {
		transition: background-color 200ms;

		#chevron-right {
			width: 0;
			opacity: 0;
			transform: translateX(-10px);
			transition: all 200ms ease;
			overflow: hidden;
		}

		&:hover {
			#chevron-right {
				width: 24px;
				opacity: 1;
				transform: translateX(0);
			}
		}

		@media (max-width: 640px) {
			gap: 0.5rem;

			#chevron-right {
				width: 20px;
			}
		}
	}

	.hero {
		background-image: url("../assets/images/hero.jpg");
		background-size: cover;
		background-position: left top 25%;
		background-repeat: no-repeat;
	}
</style>
