---
const { pageTitle } = Astro.props;
---

<!-- Basic Meta Tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>{pageTitle}</title>
<meta
	name="description"
	content="A place to elevate your style with our accessories. From statement pieces to timeless essentials, every item is crafted with love and attention to detail"
/>
<link rel="icon" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href="https://www.melaninaccessories.live" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
	rel="stylesheet"
/>

<!-- Open Graph Meta Tags -->
<meta property="og:title" content={pageTitle} />
<meta property="og:site_name" content="Melanin Accessories" />
<meta property="og:type" content="website" />
<meta
	property="og:description"
	content="A place to elevate your style with our accessories. From statement pieces to timeless essentials, every item is crafted with love and attention to detail"
/>
<meta property="og:image" content="https://i.imgur.com/LEPg2FO.png" />
<meta property="og:image:alt" content="A collection of stylish accessories" />
<meta property="og:url" content="https://www.melaninaccessories.live/" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="www.melaninaccessories.live" />
<meta property="twitter:url" content="https://www.melaninaccessories.live/" />
<meta name="twitter:title" content="Melanin Accessories - Home" />
<meta
	name="twitter:description"
	content="A place to elevate your style with our accessories. From statement pieces to timeless essentials, every item is crafted with love and attention to detail"
/>
<meta name="twitter:image" content="https://i.imgur.com/LEPg2FO.png" />
